go 1.25.0

use (
	./packages/shared-go
	./packages/statussnapshot
	./scripts/openapi
	./services/api-gateway
	./services/billing-register-service
	./services/company-service
	./services/contract-rate-service
	./services/control-tower-read-model-service
	./services/document-service
	./services/freight-cost-service
	./services/identity-service
	./services/localization-service
	./services/low-code-service
	./services/payment-service
	./services/rfx-service
	./services/shipment-service
	./services/tracking-service
	./services/transport-order-service
)
