NUXT_PUBLIC_API_BASE_URL=http://localhost:8080
NUXT_PUBLIC_APP_NAME=Freight Platform Admin
NUXT_PUBLIC_DEFAULT_LOCALE=ru-RU
NUXT_PUBLIC_DEFAULT_TENANT_ID=74519f22-ff9b-4a8b-8fff-a958c689682f
NUXT_PUBLIC_MOCK_AUTH=true
